<?php foreach ($event_search->rows as $event) { ?>
<div class="__item">
    <div class="line">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="21px">
            <path fill-rule="evenodd" fill="rgb(197, 166, 114)" d="M19.000,21.000 C19.244,20.927 1.667,21.000 1.667,21.000 C0.746,21.000 -0.000,20.921 -0.000,20.000 L-0.000,4.541 C-0.000,3.620 0.079,3.000 1.000,3.000 L4.000,3.000 L4.000,1.000 C4.656,1.123 4.655,1.000 5.000,1.000 C5.345,1.000 5.687,0.967 6.000,1.000 L6.000,3.000 L9.000,3.000 L9.000,1.000 C9.750,1.061 9.655,1.000 10.000,1.000 C10.345,1.000 10.375,1.092 11.000,1.000 L11.000,3.000 L14.000,3.000 L14.000,1.000 C14.500,0.967 14.655,1.000 15.000,1.000 C15.345,1.000 15.281,1.311 16.000,1.000 L16.000,3.000 L19.000,3.000 C19.920,3.000 20.000,3.620 20.000,4.541 L20.000,19.333 C19.941,20.272 19.609,21.093 19.000,21.000 ZM19.000,4.000 L16.000,4.000 L16.000,6.000 C15.187,5.877 15.345,6.000 15.000,6.000 C14.655,6.000 14.594,6.095 14.000,6.000 L14.000,4.000 L11.000,4.000 L11.000,6.000 C10.281,5.908 10.345,6.000 10.000,6.000 C9.655,6.000 9.719,6.033 9.000,6.000 L9.000,4.000 L6.000,4.000 L6.000,6.000 C5.312,6.033 5.345,6.000 5.000,6.000 C4.655,6.000 5.125,5.970 4.000,6.000 L4.000,4.000 L1.000,4.000 L1.000,20.000 L19.000,20.000 L19.000,4.000 ZM7.000,10.000 L4.000,10.000 L4.000,9.000 L7.000,9.000 L7.000,10.000 ZM7.000,13.000 L4.000,13.000 L4.000,12.000 L7.000,12.000 L7.000,13.000 ZM7.000,16.000 L4.000,16.000 L4.000,15.000 L7.000,15.000 L7.000,16.000 ZM11.000,10.000 L9.000,10.000 L9.000,9.000 L11.000,9.000 L11.000,10.000 ZM11.000,13.000 L9.000,13.000 L9.000,12.000 L11.000,12.000 L11.000,13.000 ZM11.000,16.000 L9.000,16.000 L9.000,15.000 L11.000,15.000 L11.000,16.000 ZM16.000,10.000 L13.000,10.000 L13.000,9.000 L16.000,9.000 L16.000,10.000 ZM16.000,13.000 L13.000,13.000 L13.000,12.000 L16.000,12.000 L16.000,13.000 ZM16.000,16.000 L13.000,16.000 L13.000,15.000 L16.000,15.000 L16.000,16.000 Z"
            />
        </svg>
        <p class="data"><?php echo $event['date_from']; ?> - <?php echo $event['date_to']; ?></p>
    </div>
    <p class="had"><?php echo $event['city']; ?>, <?php echo $event['country']; ?></p>
    <div class="place">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="20px">
            <path fill-rule="evenodd" fill="rgb(197, 166, 114)" d="M7.500,-0.000 C3.364,-0.000 -0.000,3.249 -0.000,7.243 C-0.000,12.199 6.712,19.476 6.997,19.783 C7.266,20.072 7.734,20.071 8.002,19.783 C8.288,19.476 15.000,12.199 15.000,7.243 C15.000,3.249 11.635,-0.000 7.500,-0.000 ZM7.500,10.887 C5.419,10.887 3.726,9.252 3.726,7.243 C3.726,5.234 5.419,3.598 7.500,3.598 C9.581,3.598 11.273,5.234 11.273,7.243 C11.273,9.252 9.581,10.887 7.500,10.887 Z"
            />
        </svg>
        <p><?php echo $event['store_name']; ?> (<?php echo $event['areakm']; ?> km)
        <br/><?php echo $event['store_address']; ?></p>
    </div>
    <div class="img" style="background-image:url('image/<?php echo $event['image']; ?>')"></div><a class="btn_simple" href="#">Attend</a>
</div>
<?php } ?>