.search_block .search_result, .events_block .search_result{
	position: absolute;
	left: 0;
	top: 48px;
	background-color: #fff;
	padding: 0 20px;
	border: 1px solid #bbb;
	border-top: 1px solid transparent;
	margin: -1px 0 0;
	width: 100%;
	z-index: 10;
	overflow-y: scroll;
	max-height: 270px;
	max-width: 553px;
}
.search_block .search_result::-webkit-scrollbar .events_block .search_result::-webkit-scrollbar {
    width: 4px;
}
 
.search_block .search_result::-webkit-scrollbar-track, .events_block .search_result::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}
 
.search_block .search_result::-webkit-scrollbar-thumb, .events_block .search_result::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.search_block .search_result li, .events_block .search_result li{
	font-size: 16px;
    font-weight: 300;
    color: #bbb;
    cursor: pointer;
    padding: 18px 0 13px;
    border-bottom: solid 1px #e0e0e0;
}
.search_block .search_result li:hover, .events_block.search_result li:hover{
	color: #c5a672;
}
.search_block form, .events_block form{
	position: relative;
}