<?php echo $header; ?>
<div class="container">
    <div class="row"><?php echo $column_left; ?>
        <?php if ($column_left && $column_right) { ?>
        <?php $class = 'col-sm-6'; ?>
        <?php } elseif ($column_left || $column_right) { ?>
        <?php $class = 'col-sm-9'; ?>
        <?php } else { ?>
        <?php $class = 'col-sm-12'; ?>
        <?php } ?>
        <div id="content" class="<?php echo $class; ?>">
            <body>

            <h1>Hubspot Test AMP Form Page</h1>
            <div id="liran"></div>

            <script>
                hbspt.forms.create({
                    portalId: "2761440",
                    formId: "784cee83-a6fe-4dfb-8500-bd649488dd26",
                    css: "",
                    target: "#liran"
                });
            </script>

            </body>
        </div>
    </div>
    <?php echo $footer; ?>