<?php echo $header; ?>
<!-- <div class="container">
    <div class="row"><?php echo $column_left; ?>
        <?php if ($column_left && $column_right) { ?>
        <?php $class = 'col-sm-6'; ?>
        <?php } elseif ($column_left || $column_right) { ?>
        <?php $class = 'col-sm-9'; ?>
        <?php } else { ?>
        <?php $class = 'col-sm-12'; ?>
        <?php } ?>
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        <div id="content" class="<?php echo $class; ?>">
            <body>

            <h1>Hubspot Test Form Page</h1>
            <div id="liran"></div>

            <script>
                hbspt.forms.create({
                    portalId: "2761440",
                    formId: "784cee83-a6fe-4dfb-8500-bd649488dd26",
                    css: "",
                    target: "#liran"
                });
            </script>

            </body>
        </div>
    </div> -->
    <div class="container">
  <div class="bread_crumbs_block">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
    <?php } ?>
  </div>
</div>
            <section class="request_block">
            <div class="container">
                <h1 class="header">Book your appointment to try on our<br/>WEDDING DRESSES?</h1>
                <div class="request_tabs">
                    <ul class="tabs_caption">
                        <li class="active">
                            <p class="num">1</p>
                            <p class="text">Where</p>
                        </li>
                        <li>
                            <p class="num">2</p>
                            <p class="text">When</p>
                        </li>
                        <li>
                            <p class="num">3</p>
                            <p class="text">Your details</p>
                        </li>
                        <li>
                            <p class="num">4</p>
                            <p class="text">Confirmation</p>
                        </li>
                    </ul>
                    <div class="tabs_item active">
                        <div class="filter">
                            <p class="had">Where</p>
                            <form method="">
                                <input placeholder="Find store in your city">
                                <button class="btn_simple" type="submit">Search</button>
                            </form>
                        </div>
                        <p class="quantity">We have found <strong>77</strong> stores in your area</p>
                        <div class="main__list">
                            <div class="wrapper">
                                <div class="__item">
                                    <p class="had">London, United Kingdom</p>
                                    <p class="sub_had">Riki Dalal’s Fashion House in London</p><a class="tel" href="#">+44 203 807 8017</a>
                                    <div class="_link">
                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px">
                                                <path fill-rule="evenodd" fill="rgb(200, 200, 200)" d="M18.464,9.647 C18.119,7.628 17.166,5.792 15.713,4.340 C14.182,2.813 12.242,1.843 10.103,1.543 L10.320,-0.001 C12.796,0.345 15.039,1.465 16.812,3.237 C18.493,4.923 19.596,7.045 20.000,9.384 L18.464,9.647 ZM14.028,5.947 C15.039,6.962 15.705,8.240 15.946,9.651 L14.411,9.912 C14.223,8.822 13.711,7.832 12.929,7.049 C12.101,6.221 11.052,5.701 9.899,5.539 L10.116,3.995 C11.605,4.202 12.958,4.877 14.028,5.947 ZM6.528,10.907 C7.594,12.214 8.796,13.375 10.232,14.278 C10.540,14.469 10.881,14.611 11.202,14.786 C11.364,14.878 11.477,14.848 11.610,14.711 C12.097,14.211 12.592,13.720 13.087,13.230 C13.736,12.584 14.552,12.584 15.205,13.230 C16.000,14.020 16.795,14.811 17.586,15.606 C18.248,16.272 18.244,17.088 17.578,17.762 C17.128,18.216 16.650,18.649 16.225,19.123 C15.605,19.818 14.831,20.042 13.940,19.993 C12.646,19.922 11.456,19.493 10.307,18.935 C7.756,17.695 5.575,15.977 3.748,13.804 C2.396,12.198 1.280,10.445 0.548,8.473 C0.190,7.520 -0.064,6.542 0.015,5.505 C0.065,4.868 0.302,4.324 0.772,3.878 C1.280,3.396 1.759,2.892 2.258,2.401 C2.907,1.760 3.723,1.760 4.376,2.397 C4.780,2.792 5.176,3.196 5.575,3.595 C5.962,3.986 6.349,4.369 6.736,4.760 C7.419,5.447 7.419,6.246 6.740,6.928 C6.253,7.420 5.771,7.911 5.275,8.389 C5.146,8.519 5.134,8.623 5.201,8.781 C5.529,9.563 6.000,10.258 6.528,10.907 Z"
                                                />
                                            </svg>
                                        </a>
                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21px" height="16px">
                                                <path fill-rule="evenodd" fill="rgb(200, 200, 200)" d="M13.750,8.126 L21.000,1.399 L21.000,14.696 L13.750,8.126 ZM0.477,0.436 C0.747,0.166 1.110,-0.001 1.510,-0.001 L19.490,-0.001 C19.892,-0.001 20.256,0.164 20.525,0.433 L10.500,9.599 L0.477,0.436 ZM-0.000,14.696 L-0.000,1.404 L7.249,8.126 L-0.000,14.696 ZM10.500,11.200 L13.098,8.774 L20.522,15.565 C20.253,15.834 19.890,16.000 19.490,16.000 L1.510,16.000 C1.108,16.000 0.744,15.834 0.474,15.565 L7.902,8.774 L10.500,11.200 Z"
                                                />
                                            </svg>
                                        </a>
                                    </div><a class="btn_simple" href="#">Details & Appointments</a>
                                </div>
                            </div>
                            <div class="wrapper">
                                <div class="__item">
                                    <p class="had">London, United Kingdom</p>
                                    <p class="sub_had">Riki Dalal’s Fashion House in London</p><a class="tel" href="#">+44 203 807 8017</a>
                                    <div class="_link">
                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px">
                                                <path fill-rule="evenodd" fill="rgb(200, 200, 200)" d="M18.464,9.647 C18.119,7.628 17.166,5.792 15.713,4.340 C14.182,2.813 12.242,1.843 10.103,1.543 L10.320,-0.001 C12.796,0.345 15.039,1.465 16.812,3.237 C18.493,4.923 19.596,7.045 20.000,9.384 L18.464,9.647 ZM14.028,5.947 C15.039,6.962 15.705,8.240 15.946,9.651 L14.411,9.912 C14.223,8.822 13.711,7.832 12.929,7.049 C12.101,6.221 11.052,5.701 9.899,5.539 L10.116,3.995 C11.605,4.202 12.958,4.877 14.028,5.947 ZM6.528,10.907 C7.594,12.214 8.796,13.375 10.232,14.278 C10.540,14.469 10.881,14.611 11.202,14.786 C11.364,14.878 11.477,14.848 11.610,14.711 C12.097,14.211 12.592,13.720 13.087,13.230 C13.736,12.584 14.552,12.584 15.205,13.230 C16.000,14.020 16.795,14.811 17.586,15.606 C18.248,16.272 18.244,17.088 17.578,17.762 C17.128,18.216 16.650,18.649 16.225,19.123 C15.605,19.818 14.831,20.042 13.940,19.993 C12.646,19.922 11.456,19.493 10.307,18.935 C7.756,17.695 5.575,15.977 3.748,13.804 C2.396,12.198 1.280,10.445 0.548,8.473 C0.190,7.520 -0.064,6.542 0.015,5.505 C0.065,4.868 0.302,4.324 0.772,3.878 C1.280,3.396 1.759,2.892 2.258,2.401 C2.907,1.760 3.723,1.760 4.376,2.397 C4.780,2.792 5.176,3.196 5.575,3.595 C5.962,3.986 6.349,4.369 6.736,4.760 C7.419,5.447 7.419,6.246 6.740,6.928 C6.253,7.420 5.771,7.911 5.275,8.389 C5.146,8.519 5.134,8.623 5.201,8.781 C5.529,9.563 6.000,10.258 6.528,10.907 Z"
                                                />
                                            </svg>
                                        </a>
                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21px" height="16px">
                                                <path fill-rule="evenodd" fill="rgb(200, 200, 200)" d="M13.750,8.126 L21.000,1.399 L21.000,14.696 L13.750,8.126 ZM0.477,0.436 C0.747,0.166 1.110,-0.001 1.510,-0.001 L19.490,-0.001 C19.892,-0.001 20.256,0.164 20.525,0.433 L10.500,9.599 L0.477,0.436 ZM-0.000,14.696 L-0.000,1.404 L7.249,8.126 L-0.000,14.696 ZM10.500,11.200 L13.098,8.774 L20.522,15.565 C20.253,15.834 19.890,16.000 19.490,16.000 L1.510,16.000 C1.108,16.000 0.744,15.834 0.474,15.565 L7.902,8.774 L10.500,11.200 Z"
                                                />
                                            </svg>
                                        </a>
                                    </div><a class="btn_simple" href="#">Details & Appointments</a>
                                </div>
                            </div>
                            <div class="wrapper">
                                <div class="__item">
                                    <p class="had">London, United Kingdom</p>
                                    <p class="sub_had">Riki Dalal’s Fashion House in London</p><a class="tel" href="#">+44 203 807 8017</a>
                                    <div class="_link">
                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px">
                                                <path fill-rule="evenodd" fill="rgb(200, 200, 200)" d="M18.464,9.647 C18.119,7.628 17.166,5.792 15.713,4.340 C14.182,2.813 12.242,1.843 10.103,1.543 L10.320,-0.001 C12.796,0.345 15.039,1.465 16.812,3.237 C18.493,4.923 19.596,7.045 20.000,9.384 L18.464,9.647 ZM14.028,5.947 C15.039,6.962 15.705,8.240 15.946,9.651 L14.411,9.912 C14.223,8.822 13.711,7.832 12.929,7.049 C12.101,6.221 11.052,5.701 9.899,5.539 L10.116,3.995 C11.605,4.202 12.958,4.877 14.028,5.947 ZM6.528,10.907 C7.594,12.214 8.796,13.375 10.232,14.278 C10.540,14.469 10.881,14.611 11.202,14.786 C11.364,14.878 11.477,14.848 11.610,14.711 C12.097,14.211 12.592,13.720 13.087,13.230 C13.736,12.584 14.552,12.584 15.205,13.230 C16.000,14.020 16.795,14.811 17.586,15.606 C18.248,16.272 18.244,17.088 17.578,17.762 C17.128,18.216 16.650,18.649 16.225,19.123 C15.605,19.818 14.831,20.042 13.940,19.993 C12.646,19.922 11.456,19.493 10.307,18.935 C7.756,17.695 5.575,15.977 3.748,13.804 C2.396,12.198 1.280,10.445 0.548,8.473 C0.190,7.520 -0.064,6.542 0.015,5.505 C0.065,4.868 0.302,4.324 0.772,3.878 C1.280,3.396 1.759,2.892 2.258,2.401 C2.907,1.760 3.723,1.760 4.376,2.397 C4.780,2.792 5.176,3.196 5.575,3.595 C5.962,3.986 6.349,4.369 6.736,4.760 C7.419,5.447 7.419,6.246 6.740,6.928 C6.253,7.420 5.771,7.911 5.275,8.389 C5.146,8.519 5.134,8.623 5.201,8.781 C5.529,9.563 6.000,10.258 6.528,10.907 Z"
                                                />
                                            </svg>
                                        </a>
                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21px" height="16px">
                                                <path fill-rule="evenodd" fill="rgb(200, 200, 200)" d="M13.750,8.126 L21.000,1.399 L21.000,14.696 L13.750,8.126 ZM0.477,0.436 C0.747,0.166 1.110,-0.001 1.510,-0.001 L19.490,-0.001 C19.892,-0.001 20.256,0.164 20.525,0.433 L10.500,9.599 L0.477,0.436 ZM-0.000,14.696 L-0.000,1.404 L7.249,8.126 L-0.000,14.696 ZM10.500,11.200 L13.098,8.774 L20.522,15.565 C20.253,15.834 19.890,16.000 19.490,16.000 L1.510,16.000 C1.108,16.000 0.744,15.834 0.474,15.565 L7.902,8.774 L10.500,11.200 Z"
                                                />
                                            </svg>
                                        </a>
                                    </div><a class="btn_simple" href="#">Details & Appointments</a>
                                </div>
                            </div>
                            <div class="wrapper">
                                <div class="__item">
                                    <p class="had">London, United Kingdom</p>
                                    <p class="sub_had">Riki Dalal’s Fashion House in London</p><a class="tel" href="#">+44 203 807 8017</a>
                                    <div class="_link">
                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px">
                                                <path fill-rule="evenodd" fill="rgb(200, 200, 200)" d="M18.464,9.647 C18.119,7.628 17.166,5.792 15.713,4.340 C14.182,2.813 12.242,1.843 10.103,1.543 L10.320,-0.001 C12.796,0.345 15.039,1.465 16.812,3.237 C18.493,4.923 19.596,7.045 20.000,9.384 L18.464,9.647 ZM14.028,5.947 C15.039,6.962 15.705,8.240 15.946,9.651 L14.411,9.912 C14.223,8.822 13.711,7.832 12.929,7.049 C12.101,6.221 11.052,5.701 9.899,5.539 L10.116,3.995 C11.605,4.202 12.958,4.877 14.028,5.947 ZM6.528,10.907 C7.594,12.214 8.796,13.375 10.232,14.278 C10.540,14.469 10.881,14.611 11.202,14.786 C11.364,14.878 11.477,14.848 11.610,14.711 C12.097,14.211 12.592,13.720 13.087,13.230 C13.736,12.584 14.552,12.584 15.205,13.230 C16.000,14.020 16.795,14.811 17.586,15.606 C18.248,16.272 18.244,17.088 17.578,17.762 C17.128,18.216 16.650,18.649 16.225,19.123 C15.605,19.818 14.831,20.042 13.940,19.993 C12.646,19.922 11.456,19.493 10.307,18.935 C7.756,17.695 5.575,15.977 3.748,13.804 C2.396,12.198 1.280,10.445 0.548,8.473 C0.190,7.520 -0.064,6.542 0.015,5.505 C0.065,4.868 0.302,4.324 0.772,3.878 C1.280,3.396 1.759,2.892 2.258,2.401 C2.907,1.760 3.723,1.760 4.376,2.397 C4.780,2.792 5.176,3.196 5.575,3.595 C5.962,3.986 6.349,4.369 6.736,4.760 C7.419,5.447 7.419,6.246 6.740,6.928 C6.253,7.420 5.771,7.911 5.275,8.389 C5.146,8.519 5.134,8.623 5.201,8.781 C5.529,9.563 6.000,10.258 6.528,10.907 Z"
                                                />
                                            </svg>
                                        </a>
                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21px" height="16px">
                                                <path fill-rule="evenodd" fill="rgb(200, 200, 200)" d="M13.750,8.126 L21.000,1.399 L21.000,14.696 L13.750,8.126 ZM0.477,0.436 C0.747,0.166 1.110,-0.001 1.510,-0.001 L19.490,-0.001 C19.892,-0.001 20.256,0.164 20.525,0.433 L10.500,9.599 L0.477,0.436 ZM-0.000,14.696 L-0.000,1.404 L7.249,8.126 L-0.000,14.696 ZM10.500,11.200 L13.098,8.774 L20.522,15.565 C20.253,15.834 19.890,16.000 19.490,16.000 L1.510,16.000 C1.108,16.000 0.744,15.834 0.474,15.565 L7.902,8.774 L10.500,11.200 Z"
                                                />
                                            </svg>
                                        </a>
                                    </div><a class="btn_simple" href="#">Details & Appointments</a>
                                </div>
                            </div>
                            <div class="wrapper">
                                <div class="__item">
                                    <p class="had">London, United Kingdom</p>
                                    <p class="sub_had">Riki Dalal’s Fashion House in London</p><a class="tel" href="#">+44 203 807 8017</a>
                                    <div class="_link">
                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px">
                                                <path fill-rule="evenodd" fill="rgb(200, 200, 200)" d="M18.464,9.647 C18.119,7.628 17.166,5.792 15.713,4.340 C14.182,2.813 12.242,1.843 10.103,1.543 L10.320,-0.001 C12.796,0.345 15.039,1.465 16.812,3.237 C18.493,4.923 19.596,7.045 20.000,9.384 L18.464,9.647 ZM14.028,5.947 C15.039,6.962 15.705,8.240 15.946,9.651 L14.411,9.912 C14.223,8.822 13.711,7.832 12.929,7.049 C12.101,6.221 11.052,5.701 9.899,5.539 L10.116,3.995 C11.605,4.202 12.958,4.877 14.028,5.947 ZM6.528,10.907 C7.594,12.214 8.796,13.375 10.232,14.278 C10.540,14.469 10.881,14.611 11.202,14.786 C11.364,14.878 11.477,14.848 11.610,14.711 C12.097,14.211 12.592,13.720 13.087,13.230 C13.736,12.584 14.552,12.584 15.205,13.230 C16.000,14.020 16.795,14.811 17.586,15.606 C18.248,16.272 18.244,17.088 17.578,17.762 C17.128,18.216 16.650,18.649 16.225,19.123 C15.605,19.818 14.831,20.042 13.940,19.993 C12.646,19.922 11.456,19.493 10.307,18.935 C7.756,17.695 5.575,15.977 3.748,13.804 C2.396,12.198 1.280,10.445 0.548,8.473 C0.190,7.520 -0.064,6.542 0.015,5.505 C0.065,4.868 0.302,4.324 0.772,3.878 C1.280,3.396 1.759,2.892 2.258,2.401 C2.907,1.760 3.723,1.760 4.376,2.397 C4.780,2.792 5.176,3.196 5.575,3.595 C5.962,3.986 6.349,4.369 6.736,4.760 C7.419,5.447 7.419,6.246 6.740,6.928 C6.253,7.420 5.771,7.911 5.275,8.389 C5.146,8.519 5.134,8.623 5.201,8.781 C5.529,9.563 6.000,10.258 6.528,10.907 Z"
                                                />
                                            </svg>
                                        </a>
                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21px" height="16px">
                                                <path fill-rule="evenodd" fill="rgb(200, 200, 200)" d="M13.750,8.126 L21.000,1.399 L21.000,14.696 L13.750,8.126 ZM0.477,0.436 C0.747,0.166 1.110,-0.001 1.510,-0.001 L19.490,-0.001 C19.892,-0.001 20.256,0.164 20.525,0.433 L10.500,9.599 L0.477,0.436 ZM-0.000,14.696 L-0.000,1.404 L7.249,8.126 L-0.000,14.696 ZM10.500,11.200 L13.098,8.774 L20.522,15.565 C20.253,15.834 19.890,16.000 19.490,16.000 L1.510,16.000 C1.108,16.000 0.744,15.834 0.474,15.565 L7.902,8.774 L10.500,11.200 Z"
                                                />
                                            </svg>
                                        </a>
                                    </div><a class="btn_simple" href="#">Details & Appointments</a>
                                </div>
                            </div>
                            <div class="wrapper">
                                <div class="__item">
                                    <p class="had">London, United Kingdom</p>
                                    <p class="sub_had">Riki Dalal’s Fashion House in London</p><a class="tel" href="#">+44 203 807 8017</a>
                                    <div class="_link">
                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px">
                                                <path fill-rule="evenodd" fill="rgb(200, 200, 200)" d="M18.464,9.647 C18.119,7.628 17.166,5.792 15.713,4.340 C14.182,2.813 12.242,1.843 10.103,1.543 L10.320,-0.001 C12.796,0.345 15.039,1.465 16.812,3.237 C18.493,4.923 19.596,7.045 20.000,9.384 L18.464,9.647 ZM14.028,5.947 C15.039,6.962 15.705,8.240 15.946,9.651 L14.411,9.912 C14.223,8.822 13.711,7.832 12.929,7.049 C12.101,6.221 11.052,5.701 9.899,5.539 L10.116,3.995 C11.605,4.202 12.958,4.877 14.028,5.947 ZM6.528,10.907 C7.594,12.214 8.796,13.375 10.232,14.278 C10.540,14.469 10.881,14.611 11.202,14.786 C11.364,14.878 11.477,14.848 11.610,14.711 C12.097,14.211 12.592,13.720 13.087,13.230 C13.736,12.584 14.552,12.584 15.205,13.230 C16.000,14.020 16.795,14.811 17.586,15.606 C18.248,16.272 18.244,17.088 17.578,17.762 C17.128,18.216 16.650,18.649 16.225,19.123 C15.605,19.818 14.831,20.042 13.940,19.993 C12.646,19.922 11.456,19.493 10.307,18.935 C7.756,17.695 5.575,15.977 3.748,13.804 C2.396,12.198 1.280,10.445 0.548,8.473 C0.190,7.520 -0.064,6.542 0.015,5.505 C0.065,4.868 0.302,4.324 0.772,3.878 C1.280,3.396 1.759,2.892 2.258,2.401 C2.907,1.760 3.723,1.760 4.376,2.397 C4.780,2.792 5.176,3.196 5.575,3.595 C5.962,3.986 6.349,4.369 6.736,4.760 C7.419,5.447 7.419,6.246 6.740,6.928 C6.253,7.420 5.771,7.911 5.275,8.389 C5.146,8.519 5.134,8.623 5.201,8.781 C5.529,9.563 6.000,10.258 6.528,10.907 Z"
                                                />
                                            </svg>
                                        </a>
                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21px" height="16px">
                                                <path fill-rule="evenodd" fill="rgb(200, 200, 200)" d="M13.750,8.126 L21.000,1.399 L21.000,14.696 L13.750,8.126 ZM0.477,0.436 C0.747,0.166 1.110,-0.001 1.510,-0.001 L19.490,-0.001 C19.892,-0.001 20.256,0.164 20.525,0.433 L10.500,9.599 L0.477,0.436 ZM-0.000,14.696 L-0.000,1.404 L7.249,8.126 L-0.000,14.696 ZM10.500,11.200 L13.098,8.774 L20.522,15.565 C20.253,15.834 19.890,16.000 19.490,16.000 L1.510,16.000 C1.108,16.000 0.744,15.834 0.474,15.565 L7.902,8.774 L10.500,11.200 Z"
                                                />
                                            </svg>
                                        </a>
                                    </div><a class="btn_simple" href="#">Details & Appointments</a>
                                </div>
                            </div>
                            <div class="wrapper">
                                <div class="__item">
                                    <p class="had">London, United Kingdom</p>
                                    <p class="sub_had">Riki Dalal’s Fashion House in London</p><a class="tel" href="#">+44 203 807 8017</a>
                                    <div class="_link">
                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px">
                                                <path fill-rule="evenodd" fill="rgb(200, 200, 200)" d="M18.464,9.647 C18.119,7.628 17.166,5.792 15.713,4.340 C14.182,2.813 12.242,1.843 10.103,1.543 L10.320,-0.001 C12.796,0.345 15.039,1.465 16.812,3.237 C18.493,4.923 19.596,7.045 20.000,9.384 L18.464,9.647 ZM14.028,5.947 C15.039,6.962 15.705,8.240 15.946,9.651 L14.411,9.912 C14.223,8.822 13.711,7.832 12.929,7.049 C12.101,6.221 11.052,5.701 9.899,5.539 L10.116,3.995 C11.605,4.202 12.958,4.877 14.028,5.947 ZM6.528,10.907 C7.594,12.214 8.796,13.375 10.232,14.278 C10.540,14.469 10.881,14.611 11.202,14.786 C11.364,14.878 11.477,14.848 11.610,14.711 C12.097,14.211 12.592,13.720 13.087,13.230 C13.736,12.584 14.552,12.584 15.205,13.230 C16.000,14.020 16.795,14.811 17.586,15.606 C18.248,16.272 18.244,17.088 17.578,17.762 C17.128,18.216 16.650,18.649 16.225,19.123 C15.605,19.818 14.831,20.042 13.940,19.993 C12.646,19.922 11.456,19.493 10.307,18.935 C7.756,17.695 5.575,15.977 3.748,13.804 C2.396,12.198 1.280,10.445 0.548,8.473 C0.190,7.520 -0.064,6.542 0.015,5.505 C0.065,4.868 0.302,4.324 0.772,3.878 C1.280,3.396 1.759,2.892 2.258,2.401 C2.907,1.760 3.723,1.760 4.376,2.397 C4.780,2.792 5.176,3.196 5.575,3.595 C5.962,3.986 6.349,4.369 6.736,4.760 C7.419,5.447 7.419,6.246 6.740,6.928 C6.253,7.420 5.771,7.911 5.275,8.389 C5.146,8.519 5.134,8.623 5.201,8.781 C5.529,9.563 6.000,10.258 6.528,10.907 Z"
                                                />
                                            </svg>
                                        </a>
                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21px" height="16px">
                                                <path fill-rule="evenodd" fill="rgb(200, 200, 200)" d="M13.750,8.126 L21.000,1.399 L21.000,14.696 L13.750,8.126 ZM0.477,0.436 C0.747,0.166 1.110,-0.001 1.510,-0.001 L19.490,-0.001 C19.892,-0.001 20.256,0.164 20.525,0.433 L10.500,9.599 L0.477,0.436 ZM-0.000,14.696 L-0.000,1.404 L7.249,8.126 L-0.000,14.696 ZM10.500,11.200 L13.098,8.774 L20.522,15.565 C20.253,15.834 19.890,16.000 19.490,16.000 L1.510,16.000 C1.108,16.000 0.744,15.834 0.474,15.565 L7.902,8.774 L10.500,11.200 Z"
                                                />
                                            </svg>
                                        </a>
                                    </div><a class="btn_simple" href="#">Details & Appointments</a>
                                </div>
                            </div>
                            <div class="wrapper">
                                <div class="__item">
                                    <p class="had">London, United Kingdom</p>
                                    <p class="sub_had">Riki Dalal’s Fashion House in London</p><a class="tel" href="#">+44 203 807 8017</a>
                                    <div class="_link">
                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px">
                                                <path fill-rule="evenodd" fill="rgb(200, 200, 200)" d="M18.464,9.647 C18.119,7.628 17.166,5.792 15.713,4.340 C14.182,2.813 12.242,1.843 10.103,1.543 L10.320,-0.001 C12.796,0.345 15.039,1.465 16.812,3.237 C18.493,4.923 19.596,7.045 20.000,9.384 L18.464,9.647 ZM14.028,5.947 C15.039,6.962 15.705,8.240 15.946,9.651 L14.411,9.912 C14.223,8.822 13.711,7.832 12.929,7.049 C12.101,6.221 11.052,5.701 9.899,5.539 L10.116,3.995 C11.605,4.202 12.958,4.877 14.028,5.947 ZM6.528,10.907 C7.594,12.214 8.796,13.375 10.232,14.278 C10.540,14.469 10.881,14.611 11.202,14.786 C11.364,14.878 11.477,14.848 11.610,14.711 C12.097,14.211 12.592,13.720 13.087,13.230 C13.736,12.584 14.552,12.584 15.205,13.230 C16.000,14.020 16.795,14.811 17.586,15.606 C18.248,16.272 18.244,17.088 17.578,17.762 C17.128,18.216 16.650,18.649 16.225,19.123 C15.605,19.818 14.831,20.042 13.940,19.993 C12.646,19.922 11.456,19.493 10.307,18.935 C7.756,17.695 5.575,15.977 3.748,13.804 C2.396,12.198 1.280,10.445 0.548,8.473 C0.190,7.520 -0.064,6.542 0.015,5.505 C0.065,4.868 0.302,4.324 0.772,3.878 C1.280,3.396 1.759,2.892 2.258,2.401 C2.907,1.760 3.723,1.760 4.376,2.397 C4.780,2.792 5.176,3.196 5.575,3.595 C5.962,3.986 6.349,4.369 6.736,4.760 C7.419,5.447 7.419,6.246 6.740,6.928 C6.253,7.420 5.771,7.911 5.275,8.389 C5.146,8.519 5.134,8.623 5.201,8.781 C5.529,9.563 6.000,10.258 6.528,10.907 Z"
                                                />
                                            </svg>
                                        </a>
                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21px" height="16px">
                                                <path fill-rule="evenodd" fill="rgb(200, 200, 200)" d="M13.750,8.126 L21.000,1.399 L21.000,14.696 L13.750,8.126 ZM0.477,0.436 C0.747,0.166 1.110,-0.001 1.510,-0.001 L19.490,-0.001 C19.892,-0.001 20.256,0.164 20.525,0.433 L10.500,9.599 L0.477,0.436 ZM-0.000,14.696 L-0.000,1.404 L7.249,8.126 L-0.000,14.696 ZM10.500,11.200 L13.098,8.774 L20.522,15.565 C20.253,15.834 19.890,16.000 19.490,16.000 L1.510,16.000 C1.108,16.000 0.744,15.834 0.474,15.565 L7.902,8.774 L10.500,11.200 Z"
                                                />
                                            </svg>
                                        </a>
                                    </div><a class="btn_simple" href="#">Details & Appointments</a>
                                </div>
                            </div>
                            <div class="wrapper">
                                <div class="__item">
                                    <p class="had">London, United Kingdom</p>
                                    <p class="sub_had">Riki Dalal’s Fashion House in London</p><a class="tel" href="#">+44 203 807 8017</a>
                                    <div class="_link">
                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px">
                                                <path fill-rule="evenodd" fill="rgb(200, 200, 200)" d="M18.464,9.647 C18.119,7.628 17.166,5.792 15.713,4.340 C14.182,2.813 12.242,1.843 10.103,1.543 L10.320,-0.001 C12.796,0.345 15.039,1.465 16.812,3.237 C18.493,4.923 19.596,7.045 20.000,9.384 L18.464,9.647 ZM14.028,5.947 C15.039,6.962 15.705,8.240 15.946,9.651 L14.411,9.912 C14.223,8.822 13.711,7.832 12.929,7.049 C12.101,6.221 11.052,5.701 9.899,5.539 L10.116,3.995 C11.605,4.202 12.958,4.877 14.028,5.947 ZM6.528,10.907 C7.594,12.214 8.796,13.375 10.232,14.278 C10.540,14.469 10.881,14.611 11.202,14.786 C11.364,14.878 11.477,14.848 11.610,14.711 C12.097,14.211 12.592,13.720 13.087,13.230 C13.736,12.584 14.552,12.584 15.205,13.230 C16.000,14.020 16.795,14.811 17.586,15.606 C18.248,16.272 18.244,17.088 17.578,17.762 C17.128,18.216 16.650,18.649 16.225,19.123 C15.605,19.818 14.831,20.042 13.940,19.993 C12.646,19.922 11.456,19.493 10.307,18.935 C7.756,17.695 5.575,15.977 3.748,13.804 C2.396,12.198 1.280,10.445 0.548,8.473 C0.190,7.520 -0.064,6.542 0.015,5.505 C0.065,4.868 0.302,4.324 0.772,3.878 C1.280,3.396 1.759,2.892 2.258,2.401 C2.907,1.760 3.723,1.760 4.376,2.397 C4.780,2.792 5.176,3.196 5.575,3.595 C5.962,3.986 6.349,4.369 6.736,4.760 C7.419,5.447 7.419,6.246 6.740,6.928 C6.253,7.420 5.771,7.911 5.275,8.389 C5.146,8.519 5.134,8.623 5.201,8.781 C5.529,9.563 6.000,10.258 6.528,10.907 Z"
                                                />
                                            </svg>
                                        </a>
                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21px" height="16px">
                                                <path fill-rule="evenodd" fill="rgb(200, 200, 200)" d="M13.750,8.126 L21.000,1.399 L21.000,14.696 L13.750,8.126 ZM0.477,0.436 C0.747,0.166 1.110,-0.001 1.510,-0.001 L19.490,-0.001 C19.892,-0.001 20.256,0.164 20.525,0.433 L10.500,9.599 L0.477,0.436 ZM-0.000,14.696 L-0.000,1.404 L7.249,8.126 L-0.000,14.696 ZM10.500,11.200 L13.098,8.774 L20.522,15.565 C20.253,15.834 19.890,16.000 19.490,16.000 L1.510,16.000 C1.108,16.000 0.744,15.834 0.474,15.565 L7.902,8.774 L10.500,11.200 Z"
                                                />
                                            </svg>
                                        </a>
                                    </div><a class="btn_simple" href="#">Details & Appointments</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs_item">
                        <div class="calendar">
                            <p class="had">When</p>
                            <p class="sub_header">Select your date & hour</p>
                            <div class="line str">
                                <div class="__left picker">
                                    <div class="date"></div>
                                </div>
                                <div class="__right">
                                    <p class="had">Your selection</p>
                                    <div class="line">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="20px">
                                            <path fill-rule="evenodd" fill="rgb(197, 166, 114)" d="M7.500,-0.000 C3.364,-0.000 -0.000,3.249 -0.000,7.243 C-0.000,12.199 6.712,19.476 6.997,19.783 C7.266,20.071 7.734,20.071 8.002,19.783 C8.288,19.476 15.000,12.199 15.000,7.243 C15.000,3.249 11.635,-0.000 7.500,-0.000 ZM7.500,10.887 C5.419,10.887 3.726,9.252 3.726,7.243 C3.726,5.233 5.419,3.598 7.500,3.598 C9.580,3.598 11.273,5.233 11.273,7.243 C11.273,9.252 9.580,10.887 7.500,10.887 Z"
                                            />
                                        </svg>
                                        <p class="loc"><strong>London</strong>
                                            <br>Plaça De Catalunya, 28
                                            <br>Gerona 17002</p>
                                    </div><a class="mod" href="#">Modify</a>
                                    <div class="line">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="21px">
                                            <path fill-rule="evenodd" fill="rgb(197, 166, 114)" d="M19.000,21.000 C19.244,20.927 1.667,21.000 1.667,21.000 C0.746,21.000 -0.000,20.921 -0.000,20.000 L-0.000,4.541 C-0.000,3.620 0.079,3.000 1.000,3.000 L4.000,3.000 L4.000,1.000 C4.656,1.123 4.655,1.000 5.000,1.000 C5.345,1.000 5.687,0.967 6.000,1.000 L6.000,3.000 L9.000,3.000 L9.000,1.000 C9.750,1.061 9.655,1.000 10.000,1.000 C10.345,1.000 10.375,1.092 11.000,1.000 L11.000,3.000 L14.000,3.000 L14.000,1.000 C14.500,0.967 14.655,1.000 15.000,1.000 C15.345,1.000 15.281,1.311 16.000,1.000 L16.000,3.000 L19.000,3.000 C19.920,3.000 20.000,3.620 20.000,4.541 L20.000,19.333 C19.941,20.272 19.609,21.093 19.000,21.000 ZM19.000,4.000 L16.000,4.000 L16.000,6.000 C15.187,5.877 15.345,6.000 15.000,6.000 C14.655,6.000 14.594,6.095 14.000,6.000 L14.000,4.000 L11.000,4.000 L11.000,6.000 C10.281,5.908 10.345,6.000 10.000,6.000 C9.655,6.000 9.719,6.033 9.000,6.000 L9.000,4.000 L6.000,4.000 L6.000,6.000 C5.312,6.033 5.345,6.000 5.000,6.000 C4.655,6.000 5.125,5.970 4.000,6.000 L4.000,4.000 L1.000,4.000 L1.000,20.000 L19.000,20.000 L19.000,4.000 ZM7.000,10.000 L4.000,10.000 L4.000,9.000 L7.000,9.000 L7.000,10.000 ZM7.000,13.000 L4.000,13.000 L4.000,12.000 L7.000,12.000 L7.000,13.000 ZM7.000,16.000 L4.000,16.000 L4.000,15.000 L7.000,15.000 L7.000,16.000 ZM11.000,10.000 L9.000,10.000 L9.000,9.000 L11.000,9.000 L11.000,10.000 ZM11.000,13.000 L9.000,13.000 L9.000,12.000 L11.000,12.000 L11.000,13.000 ZM11.000,16.000 L9.000,16.000 L9.000,15.000 L11.000,15.000 L11.000,16.000 ZM16.000,10.000 L13.000,10.000 L13.000,9.000 L16.000,9.000 L16.000,10.000 ZM16.000,13.000 L13.000,13.000 L13.000,12.000 L16.000,12.000 L16.000,13.000 ZM16.000,16.000 L13.000,16.000 L13.000,15.000 L16.000,15.000 L16.000,16.000 Z"
                                            />
                                        </svg>
                                        <p class="loc">27.05.2019</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs_item">
                        <div class="calendar">
                            <p class="had">When</p>
                            <p class="sub_header">Select your date & hour</p>
                            <div class="line">
                                <div class="__left">
                                    <form method="">
                                        <input placeholder="Name">
                                        <input placeholder="First surname*">
                                        <input placeholder="E-mail*">
                                        <input placeholder="Phone">
                                        <div class="line">
                                            <p class="text">Wedding date*</p>
                                            <input placeholder="MM/DD/YYYY">
                                        </div>
                                        <label for="check">
                                            <input type="checkbox" id="check">
                                            <p class="text">I accept the Data Protection policy for the make an appointment form</p>
                                        </label>
                                        <button class="btn_simple" type="submit">Request an appointment</button>
                                    </form>
                                </div>
                                <div class="__right">
                                    <p class="had">Your selection</p>
                                    <div class="line">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="20px">
                                            <path fill-rule="evenodd" fill="rgb(197, 166, 114)" d="M7.500,-0.000 C3.364,-0.000 -0.000,3.249 -0.000,7.243 C-0.000,12.199 6.712,19.476 6.997,19.783 C7.266,20.071 7.734,20.071 8.002,19.783 C8.288,19.476 15.000,12.199 15.000,7.243 C15.000,3.249 11.635,-0.000 7.500,-0.000 ZM7.500,10.887 C5.419,10.887 3.726,9.252 3.726,7.243 C3.726,5.233 5.419,3.598 7.500,3.598 C9.580,3.598 11.273,5.233 11.273,7.243 C11.273,9.252 9.580,10.887 7.500,10.887 Z"
                                            />
                                        </svg>
                                        <p class="loc"><strong>London</strong>
                                            <br>Plaça De Catalunya, 28
                                            <br>Gerona 17002</p>
                                    </div><a class="mod" href="#">Modify</a>
                                    <div class="line">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="21px">
                                            <path fill-rule="evenodd" fill="rgb(197, 166, 114)" d="M19.000,21.000 C19.244,20.927 1.667,21.000 1.667,21.000 C0.746,21.000 -0.000,20.921 -0.000,20.000 L-0.000,4.541 C-0.000,3.620 0.079,3.000 1.000,3.000 L4.000,3.000 L4.000,1.000 C4.656,1.123 4.655,1.000 5.000,1.000 C5.345,1.000 5.687,0.967 6.000,1.000 L6.000,3.000 L9.000,3.000 L9.000,1.000 C9.750,1.061 9.655,1.000 10.000,1.000 C10.345,1.000 10.375,1.092 11.000,1.000 L11.000,3.000 L14.000,3.000 L14.000,1.000 C14.500,0.967 14.655,1.000 15.000,1.000 C15.345,1.000 15.281,1.311 16.000,1.000 L16.000,3.000 L19.000,3.000 C19.920,3.000 20.000,3.620 20.000,4.541 L20.000,19.333 C19.941,20.272 19.609,21.093 19.000,21.000 ZM19.000,4.000 L16.000,4.000 L16.000,6.000 C15.187,5.877 15.345,6.000 15.000,6.000 C14.655,6.000 14.594,6.095 14.000,6.000 L14.000,4.000 L11.000,4.000 L11.000,6.000 C10.281,5.908 10.345,6.000 10.000,6.000 C9.655,6.000 9.719,6.033 9.000,6.000 L9.000,4.000 L6.000,4.000 L6.000,6.000 C5.312,6.033 5.345,6.000 5.000,6.000 C4.655,6.000 5.125,5.970 4.000,6.000 L4.000,4.000 L1.000,4.000 L1.000,20.000 L19.000,20.000 L19.000,4.000 ZM7.000,10.000 L4.000,10.000 L4.000,9.000 L7.000,9.000 L7.000,10.000 ZM7.000,13.000 L4.000,13.000 L4.000,12.000 L7.000,12.000 L7.000,13.000 ZM7.000,16.000 L4.000,16.000 L4.000,15.000 L7.000,15.000 L7.000,16.000 ZM11.000,10.000 L9.000,10.000 L9.000,9.000 L11.000,9.000 L11.000,10.000 ZM11.000,13.000 L9.000,13.000 L9.000,12.000 L11.000,12.000 L11.000,13.000 ZM11.000,16.000 L9.000,16.000 L9.000,15.000 L11.000,15.000 L11.000,16.000 ZM16.000,10.000 L13.000,10.000 L13.000,9.000 L16.000,9.000 L16.000,10.000 ZM16.000,13.000 L13.000,13.000 L13.000,12.000 L16.000,12.000 L16.000,13.000 ZM16.000,16.000 L13.000,16.000 L13.000,15.000 L16.000,15.000 L16.000,16.000 Z"
                                            />
                                        </svg>
                                        <p class="loc">27.05.2019</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs_item">
                        <div class="confirm">
                            <p class="had">Confirmation</p>
                            <p class="sub_header">Fill in your contact details</p>
                            <div class="line str">
                                <div class="__left">
                                    <div class="part">
                                        <p class="had">Where</p>
                                        <div class="line">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="20px">
                                                <path fill-rule="evenodd" fill="rgb(197, 166, 114)" d="M7.500,-0.000 C3.364,-0.000 -0.000,3.249 -0.000,7.243 C-0.000,12.199 6.712,19.476 6.997,19.783 C7.266,20.071 7.734,20.071 8.002,19.783 C8.288,19.476 15.000,12.199 15.000,7.243 C15.000,3.249 11.635,-0.000 7.500,-0.000 ZM7.500,10.887 C5.419,10.887 3.726,9.252 3.726,7.243 C3.726,5.233 5.419,3.598 7.500,3.598 C9.580,3.598 11.273,5.233 11.273,7.243 C11.273,9.252 9.580,10.887 7.500,10.887 Z"
                                                />
                                            </svg>
                                            <p class="loc"><strong>London</strong>
                                                <br>Plaça De Catalunya, 28 Gerona 17002</p>
                                        </div>
                                    </div>
                                    <div class="part">
                                        <p class="had">When</p>
                                        <div class="line">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="21px">
                                                <path fill-rule="evenodd" fill="rgb(197, 166, 114)" d="M19.000,21.000 C19.244,20.927 1.667,21.000 1.667,21.000 C0.746,21.000 -0.000,20.921 -0.000,20.000 L-0.000,4.541 C-0.000,3.620 0.079,3.000 1.000,3.000 L4.000,3.000 L4.000,1.000 C4.656,1.123 4.655,1.000 5.000,1.000 C5.345,1.000 5.687,0.967 6.000,1.000 L6.000,3.000 L9.000,3.000 L9.000,1.000 C9.750,1.061 9.655,1.000 10.000,1.000 C10.345,1.000 10.375,1.092 11.000,1.000 L11.000,3.000 L14.000,3.000 L14.000,1.000 C14.500,0.967 14.655,1.000 15.000,1.000 C15.345,1.000 15.281,1.311 16.000,1.000 L16.000,3.000 L19.000,3.000 C19.920,3.000 20.000,3.620 20.000,4.541 L20.000,19.333 C19.941,20.272 19.609,21.093 19.000,21.000 ZM19.000,4.000 L16.000,4.000 L16.000,6.000 C15.187,5.877 15.345,6.000 15.000,6.000 C14.655,6.000 14.594,6.095 14.000,6.000 L14.000,4.000 L11.000,4.000 L11.000,6.000 C10.281,5.908 10.345,6.000 10.000,6.000 C9.655,6.000 9.719,6.033 9.000,6.000 L9.000,4.000 L6.000,4.000 L6.000,6.000 C5.312,6.033 5.345,6.000 5.000,6.000 C4.655,6.000 5.125,5.970 4.000,6.000 L4.000,4.000 L1.000,4.000 L1.000,20.000 L19.000,20.000 L19.000,4.000 ZM7.000,10.000 L4.000,10.000 L4.000,9.000 L7.000,9.000 L7.000,10.000 ZM7.000,13.000 L4.000,13.000 L4.000,12.000 L7.000,12.000 L7.000,13.000 ZM7.000,16.000 L4.000,16.000 L4.000,15.000 L7.000,15.000 L7.000,16.000 ZM11.000,10.000 L9.000,10.000 L9.000,9.000 L11.000,9.000 L11.000,10.000 ZM11.000,13.000 L9.000,13.000 L9.000,12.000 L11.000,12.000 L11.000,13.000 ZM11.000,16.000 L9.000,16.000 L9.000,15.000 L11.000,15.000 L11.000,16.000 ZM16.000,10.000 L13.000,10.000 L13.000,9.000 L16.000,9.000 L16.000,10.000 ZM16.000,13.000 L13.000,13.000 L13.000,12.000 L16.000,12.000 L16.000,13.000 ZM16.000,16.000 L13.000,16.000 L13.000,15.000 L16.000,15.000 L16.000,16.000 Z"
                                                />
                                            </svg>
                                            <p class="loc">27.05.2019</p>
                                        </div>
                                    </div>
                                    <div class="part">
                                        <p class="had">Your details</p>
                                        <div class="wrap">
                                            <div class="line">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="19px" height="21px">
                                                    <path fill-rule="evenodd" fill="rgb(197, 166, 114)" d="M9.476,11.843 C6.701,11.843 4.453,9.140 4.453,5.807 C4.453,2.475 6.701,0.005 9.476,0.005 C12.252,0.005 14.502,2.475 14.502,5.807 C14.502,9.140 12.252,11.843 9.476,11.843 ZM1.662,20.003 C1.662,20.003 0.597,20.073 0.127,19.425 C-0.126,19.074 0.050,18.364 0.224,17.968 L0.649,16.997 C0.649,16.997 1.823,14.363 3.160,12.835 C3.982,11.899 4.958,12.113 5.590,12.417 C5.980,12.604 6.420,13.150 6.741,13.439 C7.184,13.838 7.967,14.291 9.245,14.317 L10.030,14.317 C11.308,14.291 12.090,13.838 12.533,13.439 C12.854,13.150 13.282,12.588 13.668,12.394 C14.248,12.103 15.130,11.923 15.930,12.835 C17.268,14.363 18.327,17.045 18.327,17.045 L18.762,17.997 C18.943,18.391 19.127,19.097 18.880,19.453 C18.440,20.087 17.452,20.003 17.452,20.003 L1.662,20.003 Z"
                                                    />
                                                </svg>
                                                <p class="loc"><strong>Name Surname</strong>
                                                </p>
                                            </div>
                                            <div class="line">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="21px">
                                                    <path fill-rule="evenodd" fill="rgb(197, 166, 114)" d="M19.000,21.000 C19.244,20.927 1.667,21.000 1.667,21.000 C0.746,21.000 -0.000,20.921 -0.000,20.000 L-0.000,4.541 C-0.000,3.620 0.079,3.000 1.000,3.000 L4.000,3.000 L4.000,1.000 C4.656,1.123 4.655,1.000 5.000,1.000 C5.345,1.000 5.687,0.967 6.000,1.000 L6.000,3.000 L9.000,3.000 L9.000,1.000 C9.750,1.061 9.655,1.000 10.000,1.000 C10.345,1.000 10.375,1.092 11.000,1.000 L11.000,3.000 L14.000,3.000 L14.000,1.000 C14.500,0.967 14.655,1.000 15.000,1.000 C15.345,1.000 15.281,1.311 16.000,1.000 L16.000,3.000 L19.000,3.000 C19.920,3.000 20.000,3.620 20.000,4.541 L20.000,19.333 C19.941,20.272 19.609,21.093 19.000,21.000 ZM19.000,4.000 L16.000,4.000 L16.000,6.000 C15.187,5.877 15.345,6.000 15.000,6.000 C14.655,6.000 14.594,6.095 14.000,6.000 L14.000,4.000 L11.000,4.000 L11.000,6.000 C10.281,5.908 10.345,6.000 10.000,6.000 C9.655,6.000 9.719,6.033 9.000,6.000 L9.000,4.000 L6.000,4.000 L6.000,6.000 C5.312,6.033 5.345,6.000 5.000,6.000 C4.655,6.000 5.125,5.970 4.000,6.000 L4.000,4.000 L1.000,4.000 L1.000,20.000 L19.000,20.000 L19.000,4.000 ZM7.000,10.000 L4.000,10.000 L4.000,9.000 L7.000,9.000 L7.000,10.000 ZM7.000,13.000 L4.000,13.000 L4.000,12.000 L7.000,12.000 L7.000,13.000 ZM7.000,16.000 L4.000,16.000 L4.000,15.000 L7.000,15.000 L7.000,16.000 ZM11.000,10.000 L9.000,10.000 L9.000,9.000 L11.000,9.000 L11.000,10.000 ZM11.000,13.000 L9.000,13.000 L9.000,12.000 L11.000,12.000 L11.000,13.000 ZM11.000,16.000 L9.000,16.000 L9.000,15.000 L11.000,15.000 L11.000,16.000 ZM16.000,10.000 L13.000,10.000 L13.000,9.000 L16.000,9.000 L16.000,10.000 ZM16.000,13.000 L13.000,13.000 L13.000,12.000 L16.000,12.000 L16.000,13.000 ZM16.000,16.000 L13.000,16.000 L13.000,15.000 L16.000,15.000 L16.000,16.000 Z"
                                                    />
                                                </svg>
                                                <p class="loc">mail@gmail.com</p>
                                            </div>
                                            <div class="line">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px">
                                                    <path fill-rule="evenodd" fill="rgb(192, 162, 112)" d="M18.464,9.646 C18.119,7.628 17.166,5.793 15.713,4.340 C14.182,2.813 12.242,1.843 10.103,1.543 L10.320,-0.001 C12.796,0.345 15.039,1.464 16.812,3.237 C18.493,4.923 19.596,7.045 20.000,9.384 L18.464,9.646 ZM14.028,5.947 C15.039,6.962 15.705,8.240 15.946,9.651 L14.411,9.913 C14.223,8.822 13.711,7.832 12.929,7.049 C12.101,6.221 11.052,5.701 9.899,5.539 L10.116,3.995 C11.606,4.203 12.958,4.877 14.028,5.947 ZM6.528,10.907 C7.594,12.214 8.796,13.375 10.232,14.278 C10.540,14.469 10.881,14.611 11.202,14.786 C11.364,14.878 11.476,14.848 11.610,14.711 C12.097,14.211 12.592,13.720 13.087,13.229 C13.736,12.584 14.552,12.584 15.206,13.229 C16.000,14.020 16.795,14.811 17.586,15.606 C18.248,16.271 18.244,17.087 17.578,17.761 C17.128,18.216 16.650,18.648 16.225,19.123 C15.605,19.818 14.831,20.042 13.940,19.993 C12.646,19.922 11.456,19.493 10.307,18.935 C7.756,17.695 5.575,15.977 3.748,13.804 C2.395,12.197 1.280,10.445 0.548,8.473 C0.190,7.520 -0.064,6.542 0.015,5.505 C0.065,4.868 0.302,4.324 0.772,3.878 C1.280,3.395 1.759,2.892 2.258,2.401 C2.907,1.760 3.723,1.760 4.377,2.397 C4.780,2.792 5.176,3.195 5.575,3.595 C5.962,3.986 6.349,4.369 6.736,4.760 C7.419,5.447 7.419,6.246 6.740,6.928 C6.254,7.420 5.771,7.911 5.275,8.389 C5.146,8.519 5.134,8.623 5.201,8.781 C5.529,9.563 6.000,10.258 6.528,10.907 Z"
                                                    />
                                                </svg>
                                                <p class="loc">000 000 000 00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="__right">
                                    <div class="part">
                                        <svg class="img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40px" height="40px">
                                            <path fill-rule="evenodd" fill="rgb(197, 166, 114)" d="M20.000,40.000 C8.981,40.000 0.000,31.019 0.000,20.000 C0.000,8.981 8.981,-0.000 20.000,-0.000 C31.019,-0.000 40.000,8.981 40.000,20.000 C40.000,31.019 31.019,40.000 20.000,40.000 ZM20.000,0.643 C9.327,0.643 0.643,9.328 0.643,20.000 C0.643,30.673 9.337,39.357 20.000,39.357 C30.663,39.357 39.357,30.672 39.357,20.000 C39.357,9.327 30.663,0.643 20.000,0.643 ZM18.269,28.239 C17.952,28.239 17.626,28.111 17.399,27.883 L10.366,20.851 C9.881,20.366 9.881,19.584 10.366,19.100 L11.276,18.190 C11.761,17.705 12.542,17.705 13.027,18.190 L18.279,23.442 L27.003,14.718 C27.487,14.233 28.269,14.233 28.734,14.728 L29.644,15.638 C29.871,15.855 30.000,16.182 30.000,16.508 C30.000,16.825 29.872,17.151 29.644,17.379 L19.140,27.883 C18.922,28.111 18.586,28.239 18.269,28.239 ZM29.367,16.469 C29.367,16.301 29.298,16.142 29.228,16.054 L28.318,15.143 C28.091,14.916 27.705,14.916 27.478,15.143 L18.526,24.095 C18.457,24.164 18.398,24.194 18.299,24.194 C18.200,24.194 18.140,24.164 18.071,24.095 L12.592,18.615 C12.453,18.526 12.334,18.457 12.166,18.457 C11.998,18.457 11.870,18.516 11.741,18.615 L10.831,19.525 C10.603,19.753 10.603,20.138 10.831,20.366 L17.863,27.399 C18.091,27.626 18.477,27.626 18.704,27.399 L29.209,16.894 C29.298,16.795 29.367,16.627 29.367,16.469 ZM20.020,38.457 C9.842,38.457 1.573,30.188 1.573,20.010 C1.573,9.832 9.842,1.563 20.020,1.563 C24.392,1.563 28.635,3.126 31.978,5.974 C32.107,6.103 32.136,6.301 32.008,6.429 C31.879,6.558 31.681,6.588 31.553,6.459 C28.338,3.739 24.253,2.216 20.010,2.216 C10.188,2.216 2.215,10.188 2.215,20.010 C2.215,29.832 10.188,37.804 20.010,37.804 C29.832,37.804 37.804,29.832 37.804,20.010 C37.804,15.757 36.281,11.672 33.521,8.467 C33.393,8.338 33.422,8.111 33.551,8.012 C33.679,7.883 33.907,7.913 34.006,8.042 C36.854,11.375 38.408,15.628 38.437,20.010 C38.467,30.188 30.198,38.457 20.020,38.457 Z"
                                            />
                                        </svg>
                                        <p class="had">Confirmation</p>
                                        <p class="loc">Congratulations, <strong>Name Surname</strong>,
                                            <br>your appointment request has been successfully completed</p>
                                        <p class="loc">Appointment ID:
                                            <br><strong>555555</strong>
                                        </p>
                                        <img class="mobile_logo" src="assets/img/minified-svg/logo_dalal_mobile.svg" alt="logo">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk=" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script>
            $(document).ready(function () {
                  $(".date").datepicker({ dateFormat: 'dd/mm/yy' });
              })
        </script>
    <?php echo $footer; ?>