<?php foreach ($info_search->rows  as $info) { ?>
<div class="wrapper">
    <div class="__item">
        <p class="had"><?php echo $info['city']; ?>, <?php foreach ($countries as $country) { ?><?php if ($country['country_id'] == $info['country']) { ?><?php echo $country['name']; ?><?php } ?><?php } ?></p>
        <p class="sub_had"><?php echo $info['address']; ?></p><a class="tel" href="tel:<?php echo $info['telephone']; ?>"><?php echo $info['telephone']; ?></a>
        <div class="_link">
            <?php if ($info['telephone']) { ?>
            <a href="tel:<?php echo $info['telephone']; ?>">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px">
                    <path fill-rule="evenodd" fill="rgb(200, 200, 200)" d="M18.464,9.647 C18.119,7.628 17.166,5.792 15.713,4.340 C14.182,2.813 12.242,1.843 10.103,1.543 L10.320,-0.001 C12.796,0.345 15.039,1.465 16.812,3.237 C18.493,4.923 19.596,7.045 20.000,9.384 L18.464,9.647 ZM14.028,5.947 C15.039,6.962 15.705,8.240 15.946,9.651 L14.411,9.912 C14.223,8.822 13.711,7.832 12.929,7.049 C12.101,6.221 11.052,5.701 9.899,5.539 L10.116,3.995 C11.605,4.202 12.958,4.877 14.028,5.947 ZM6.528,10.907 C7.594,12.214 8.796,13.375 10.232,14.278 C10.540,14.469 10.881,14.611 11.202,14.786 C11.364,14.878 11.477,14.848 11.610,14.711 C12.097,14.211 12.592,13.720 13.087,13.230 C13.736,12.584 14.552,12.584 15.205,13.230 C16.000,14.020 16.795,14.811 17.586,15.606 C18.248,16.272 18.244,17.088 17.578,17.762 C17.128,18.216 16.650,18.649 16.225,19.123 C15.605,19.818 14.831,20.042 13.940,19.993 C12.646,19.922 11.456,19.493 10.307,18.935 C7.756,17.695 5.575,15.977 3.748,13.804 C2.396,12.198 1.280,10.445 0.548,8.473 C0.190,7.520 -0.064,6.542 0.015,5.505 C0.065,4.868 0.302,4.324 0.772,3.878 C1.280,3.396 1.759,2.892 2.258,2.401 C2.907,1.760 3.723,1.760 4.376,2.397 C4.780,2.792 5.176,3.196 5.575,3.595 C5.962,3.986 6.349,4.369 6.736,4.760 C7.419,5.447 7.419,6.246 6.740,6.928 C6.253,7.420 5.771,7.911 5.275,8.389 C5.146,8.519 5.134,8.623 5.201,8.781 C5.529,9.563 6.000,10.258 6.528,10.907 Z"
                    />
                </svg>
            </a>
            <?php } ?>
            <?php if ($info['email']) { ?>
            <a href="mailto:<?php echo $info['email']; ?>">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21px" height="16px">
                    <path fill-rule="evenodd" fill="rgb(200, 200, 200)" d="M13.750,8.126 L21.000,1.399 L21.000,14.696 L13.750,8.126 ZM0.477,0.436 C0.747,0.166 1.110,-0.001 1.510,-0.001 L19.490,-0.001 C19.892,-0.001 20.256,0.164 20.525,0.433 L10.500,9.599 L0.477,0.436 ZM-0.000,14.696 L-0.000,1.404 L7.249,8.126 L-0.000,14.696 ZM10.500,11.200 L13.098,8.774 L20.522,15.565 C20.253,15.834 19.890,16.000 19.490,16.000 L1.510,16.000 C1.108,16.000 0.744,15.834 0.474,15.565 L7.902,8.774 L10.500,11.200 Z"
                    />
                </svg>
            </a>
            <?php } ?>
        </div><a class="btn_simple" href="#"><?php echo $text_detail; ?></a>
    </div>
</div>
<?php } ?>